<h1>Listing sentences</h1>

<table>
  <tr>
    <th>Emphasis</th>
    <th>Content</th>
    <th>Order</th>
    <th>Ideology</th>
    <th>Geography</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sentences.each do |sentence| %>
  <tr>
    <td><%= sentence.emphasis %></td>
    <td><%= sentence.content %></td>
    <td><%= sentence.order %></td>
    <td><%= sentence.ideology %></td>
    <td><%= sentence.geography %></td>
    <td><%= link_to 'Show', sentence %></td>
    <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
    <td><%= link_to 'Destroy', sentence, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sentence', new_sentence_path %>
