<p id="notice"><%= notice %></p>

<p>
  <b>Emphasis:</b>
  <%= @sentence.emphasis %>
</p>

<p>
  <b>Content:</b>
  <%= @sentence.content %>
</p>

<p>
  <b>Order:</b>
  <%= @sentence.order %>
</p>

<p>
  <b>Ideology:</b>
  <%= @sentence.ideology %>
</p>

<p>
  <b>Geography:</b>
  <%= @sentence.geography %>
</p>


<%= link_to 'Edit', edit_sentence_path(@sentence) %> |
<%= link_to 'Back', sentences_path %>
