
<div id="letter_options">
<%= form_tag(letter_path, :method =>'get', :multipart => true) do %> 

<p>
  <div class="field">
  <%= label_tag(:name, "Name", :class => "label")%>
  <%= text_field_tag(:name, @name, :class => "fieldset") %>
  </div>   
</p>

<p>
  <div class="field">
  <%= label_tag(:street_address, "Address", :class => "label")%>
  <%= text_field_tag(:street_address, nil, :class => "fieldset") %>
  </div>
</p>

<p>
  <div class="field">
  <%= label_tag(:city, "City", :class => "label")%>
  <%= text_field_tag(:city, nil, :class => "fieldset") %>
  </div>
</p>

<p>
  <div class="field">
  <%= label_tag(:state, "State", :class => "label")%>
  <%= text_field_tag(:state, nil, :class => "fieldset") %>
  </div>
</p>

<p>
  <div class="field">
  <%= label_tag(:zipcode, "Zipcode", :class => "label")%>
  <%= text_field_tag(:zipcode, nil, :class => "fieldset") %>
  </div>
</p>
</div>
  <p>
  <div class="actions">
    <%= submit_tag("2) Customize Letter", :class => "fieldset button") %>
  </div>
  </p>
<% end %>

