

		 <!-- Begin Left Column -->
		 <div id="leftcolumn">


        <h3 class="options unselect">1) Enter your information</h3>
        <div id="letter_options">
        <%= form_tag('', :method =>'put', :multipart => true) do %>
        <p>
          <div class="field">
          <%= label_tag(:name, "Name", :class => "label")%>
          <%= text_field_tag(:name, @name, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:street_address, "Address", :class => "label")%>
          <%= text_field_tag(:street_address, @street_address, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:city, "City", :class => "label")%>
          <%= text_field_tag(:city, @city, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:state, "State", :class => "label")%>
          <%= text_field_tag(:state, @state, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="clear">
          <%= label_tag(:zipcode, "Zipcode", :class => "label")%>
          <%= text_field_tag(:zipcode, @zipcode, :class => "fieldset") %>
          </div>
        </p>
		</div>

		 <h3 class="options unselect">2) Customize your letter </h3>
    <div id="letter_options" class="clear" >

        <p>
          <div class="field">
          <%= label_tag(:recipient, "Recipient", :class => "label")%>
          <%= select_tag(:recipient, options_for_select([@sen_senator_title,@jun_senator_title, @rep_title], :selected => @recipient),
                         :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:emphasis, "Emphasis", :class => "label")%>
          <%= select_tag(:emphasis, options_for_select([['Health & Pollution', 'FamPollute'],
		      ['Risk/Personal Values', 'RiskValues'],
          ['Health & Economy', 'HealthEcon'],
          ['National Security', 'NationalSec'],
          ['Economic Growth', 'EconGrowth'],
          ['American Values', 'AmericanVal'],
          ['Common sense', 'CommonSense']], :selected => @emphasis), :class => "fieldset") %>
          </div>
        </p>
          <div class="field">
          <%= label_tag(:ideology, "Perspective", :class => "label") %>
          <%= select_tag(:ideology, options_for_select([['Moderate', 'Moderate'], ['Liberal', 'Liberal'],
          ['Conservative', 'Conservative']], :selected => @political_ideology), :class => "fieldset") %>
          </div>

          <div class="field">
          <%= label_tag(:religion, "Religion", :class => "label") %>
          <%= select_tag(:religion, options_for_select([['Secular', 'Secular'],
          ['Christian', 'Christian']], :selected => @religion), :class => "fieldset") %>
          </div>

          <div class="field">
          <%= label_tag(:geography, "Geography", :class => "label") %>
          <%= select_tag(:geography, options_for_select([['California', 'California'],
          ['Other', 'Other']], :selected => @geography), :class => "fieldset") %>
          </div>

         <p>
        </div>
		  <div class="actions">
            <%= submit_tag("Update Letter", :class => "button fieldset") %>
          </div>
          </p>

          <button type="button" class="button fieldset" onclick="window.print();
          return false;" >Print Letter</button>

        <% end %>

		 </div>
		 <!-- End Left Column -->

		 <!-- Begin Right Column -->

<!--     <textarea id="rightcolumn finalletter

 -->
    <div id="shareurl">
      <%= @share_url %>
    </div>
    <textarea id="finalletter">
      <%= letter %>
    </textarea>


		 <!-- End Right Column -->