

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
     <!-- Begin Header -->
     <div id="header">		 
		 <%= image_tag("writegreenlogo.jpg", :size => "300x67") %>			   
  	 </div>
		 <!-- End Header -->
		 
		 <!-- Begin Left Column -->
		 <div id="leftcolumn">
		 <h3>Your information</h3>
     <%= render 'form' %>
     </div>
		 
		
		 <!-- End Left Column -->
		 
		 <!-- Begin Right Column -->
		 <div id="rightcolumn" style="background-color:#EEEEEE;">
  		  <div style="padding-top:70px">
  	    <h3>Instructions</h3>
      	<p> Your name will be used to personalize your letter and your 
      	address to match you with your two senators and congressional representative. </p>
      	<p> Once you enter your name and address, you'll get a chance to select the
      	recipient and customize your letter. </p>
     </div>
		 </div>
		 <!-- End Right Column -->
		 
		 <!-- Begin Footer -->
		 <div id="footer">
		       
			   <div id="steps" class="center">
			   <h2 style="text-align:center"> Enter Info </h2>
			   </div>		
			   <div id="steps" class="center">
			   <h2 style="text-align:center"> Personalize Letter </h2>
			   </div>
			   <div id="steps" class="center">
			   <h2 style="text-align:center" > Edit & Print </h2>
			   </div>
			    
	     </div>
		 <!-- End Footer -->
		 <div class="clear">
    <%if Rails.env.development? %>
    <%= debug(params) %>
     <h3> These are your selections</h3><br>
		  <%= @emphasis %><br>
		  <%= @political_ideology %><br>
		  <%= @religion %><br>
		  <%= @geography %><br>
    <br> <h3> Content variation </h3>
     <%= "Body content is #{@r}" %><br>
     <%= "Closing content is #{@c}.#{@v}" %><br>   
    <% end %>
    </div>
   </div>
   <!-- End Wrapper -->
   


   
   


