<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @letter.address %>
</p>

<p>
  <b>Greeting:</b>
  <%= @letter.greeting %>
</p>

<p>
  <b>Emphasis:</b>
  <%= @letter.emphasis %>
</p>

<p>
  <b>Ideology:</b>
  <%= @letter.ideology %>
</p>

<p>
  <b>Geography:</b>
  <%= @letter.geography %>
</p>

<p>
  <b>Closing:</b>
  <%= @letter.closing %>
</p>


<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
