

<div id="formcontainer" class="clear" style="height:auto">
<%= image_tag("writegreenlogo.jpg", :size => "300x67") %>
<h3>Your information</h3>
        <div id="letter_options">
        <%= form_tag(:method =>'put', :multipart => true) do %>

        <p>
          <div class="field">
          <%= label_tag(:name, "Name", :class => "label",  :style => "margin-top:0px;")%>
          <%= text_field_tag(:name, @name, :class => "fieldset",  :style => "margin-top:0px;") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:street_address, "Address", :class => "label")%>
          <%= text_field_tag(:street_address, @street_address, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:city, "City", :class => "label")%>
          <%= text_field_tag(:city, @city, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:state, "State", :class => "label")%>
          <%= text_field_tag(:state, @state, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="clear">
          <%= label_tag(:zipcode, "Zipcode", :class => "label")%>
          <%= text_field_tag(:zipcode, @zipcode, :class => "fieldset") %>
          </div>
        </p>
		</div>
<h3> Customize your letter </h3>		
<div id="letter_options" class="clear" >
				
        <p>
          <div class="field">
          <%= label_tag(:recipient, "Recipient", :class => "label",  :style => "margin-top:0px;")%>
          <%= select_tag(:recipient, options_for_select([@sen_senator_title,@jun_senator_title, @rep_title], :selected => @recipient),
                         :class => "fieldset",  :style => "margin-top:0px;") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:emphasis, "Emphasis", :class => "label")%>
          <%= select_tag(:emphasis, options_for_select([['Health & Pollution', 'FamPollute'],
		  ['Risk/Personal Values', 'RiskValues'],
          ['Economic Security', 'Econ'],          
          ['American Values', 'AmericanVal'],
          ['Common sense', 'CommonSense']], :selected => @emphasis), :class => "fieldset") %>
          </div>
        </p>
          <div class="field">
          <%= label_tag(:ideology, "Perspective", :class => "label") %>
          <%= select_tag(:ideology, options_for_select([['Moderate', 'Moderate'], ['Liberal', 'Liberal'],
          ['Conservative', 'Conservative']], :selected => @political_ideology), :class => "fieldset") %>
          </div>

          <div class="field">
          <%= label_tag(:religion, "Religion", :class => "label") %>
          <%= select_tag(:religion, options_for_select([['Secular', 'Secular'],
          ['Christian', 'Christian']], :selected => @religion), :class => "fieldset") %>
          </div>

          <div class="field">
          <%= label_tag(:geography, "Geography", :class => "label") %>
          <%= select_tag(:geography, options_for_select([['California', 'California'],
          ['Other', 'Other']], :selected => @geography), :class => "fieldset") %>
          </div>
          <p>
          <div class="actions">
            <%= submit_tag("Create letter", :class => "fieldset button") %>
          </div>
          </p>
        <% end %>
        </div>
	
</div>


<div id="lettercontainer" >
<p id="notice"><%= notice %></p>
 <% if @recipient_lastname != " Representative" %>
   <%= @recipient_name %><br>
   <%= @recipient_address %><br>
   <%= "Washington DC 20510" %><br>
 <% end %>
 <% if @emphasis == nil %>
	 
	 <div style="padding-top:47px">
		<h3>Please customize your letter</h3>
		<p> You can select the recipient from the list of your two state senators and your local congrational 
		representative.</p>
		<p> Your letter will be customized once you select from the customization options on the lower left. </p>
		</div> 
	 <% else %>
		<% @r = 1 + rand(3) %>
		<p> <%= "Dear " + @recipient_lastname + ","%></p>
		 
		<% if @r == 1 %>
		 <p><%= getparagraph(@emphasis, "emphasis")%></p>
		 <p><%= getparagraph(@ideologyKey, "ideology")%></p>
		 <% if @geography != "Other" %>
		   <p>
			 <%= getparagraph(@geography, "geography") %>
		   </p>
		 <% end %>
		<% elsif @r == 2 %> 
		 <p><%= getparagraph(@ideologyKey, "ideology")%></p>
		 <p><%= getparagraph(@emphasis, "emphasis")%></p>
		 <% if @geography != "Other" %>
		   <p>
			 <%= getparagraph(@geography, "geography") %>
		   </p>
		 <% end %>
		<% else %> 
		<p><%= getparagraph(@emphasis, "emphasis")%></p>
		<% if @geography != "Other" %>
		   <p>
			 <%= getparagraph(@geography, "geography") %>
		   </p>		   
		 <% end %>
		 <p><%= getparagraph(@ideologyKey, "ideology")%></p>
		 <% end %>		 
		 
		 <p><%= "Sincerely," %></p>
		 <%= @name %><br />
		 <%= @street_address %><br />
		 <%= @city + ", " + @state + " " + @zipcode%><br />
			 
		<% end %>

</div>



 

