
<p id="notice"><%= notice %></p>

<p>
 <%= getparagraph(@emphasis, "emphasis")%><br /><br />
 <%= getparagraph(@ideologyKey, "ideology")%><br /><br />
 <%= "Emphasis:" %>
 <%= @emphasis %>
 <br /><br />
 <%= "Ideology:" %>
 <%= @ideologyKey %>
</p>

<%= link_to 'Back', new_letter_path %>



