
<div id="lettercontainer">
<%= image_tag("writegreenlogo.jpg", :size => "300x67") %>
<p id="notice"><%= notice %></p>
<p> <%= "Dear Senator," %></p>
 <p><%= getparagraph(@emphasis, "emphasis")%></p>
 <p><%= getparagraph(@ideologyKey, "ideology")%></p>
 <% if @geography != "Other" %>
   <p>
     <%= getparagraph(@geography, "geography") %>
   </p>
 <% end %> 
 <p><%= "Sincerely," %></p>
 <p><%= @name %><br /></p>
 
<%= link_to 'Change letter', new_letter_path %>

</div>


 

