

<div id="formcontainer" style="height:auto">
<%= image_tag("writegreenlogo.jpg", :size => "300x67") %>
<h3>Your information</h3>
        <div id="main_content">
        <%= form_tag(:method =>'put', :multipart => true) do %>

        <p>
          <div class="field">
          <%= label_tag(:name, "Name", :class => "label")%>
          <%= text_field_tag(:name, @name, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:street_address, "Address", :class => "label")%>
          <%= text_field_tag(:street_address, @street_address, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:city, "City", :class => "label")%>
          <%= text_field_tag(:city, @city, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:state, "State", :class => "label")%>
          <%= text_field_tag(:state, @state, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:zipcode, "Zipcode", :class => "label")%>
          <%= text_field_tag(:zipcode, @zipcode, :class => "fieldset") %>
          </div>
        </p>
		</div>
		<div id="main_content" style="background-color:#CCCCCC;border-radius: 10px;">
		<p>
		  <div class="label" style="width:auto;">
		  <h3> Customize your letter </h3>
		  </div>
		</p>
		
        <p>
          <div class="field">
          <%= label_tag(:recipient, "Recipient", :class => "label")%>
          <%= select_tag(:recipient, options_for_select([@sen_senator_title,@jun_senator_title, @rep_title], :selected => @recipient),
                         :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:emphasis, "Emphasis", :class => "label")%>
          <%= select_tag(:emphasis, options_for_select([['Risk/Personal Values', 'RiskValues'],
          ['Economic Security', 'Econ'],
          ['Health & Pollution', 'FamPollute'],
          ['American Values', 'AmericanVal'],
          ['Common sense', 'CommonSense']], :selected => @emphasis), :class => "fieldset") %>
          </div>
        </p>
          <div class="field">
          <%= label_tag(:ideology, "Perspective", :class => "label") %>
          <%= select_tag(:ideology, options_for_select([['Liberal', 'Liberal'],
          ['Conservative', 'Conservative'],
          ['Moderate', 'Moderate']], :selected => @political_ideology), :class => "fieldset") %>
          </div>

          <div class="field">
          <%= label_tag(:religion, "Religion", :class => "label") %>
          <%= select_tag(:religion, options_for_select([['Secular', 'Secular'],
          ['Christian', 'Christian']], :selected => @religion), :class => "fieldset") %>
          </div>

          <div class="field">
          <%= label_tag(:geography, "Geography", :class => "label") %>
          <%= select_tag(:geography, options_for_select([['California', 'California'],
          ['Other', 'Other']], :selected => @geography), :class => "fieldset") %>
          </div>
          <p>
          <div class="actions">
            <%= submit_tag("Create letter", :class => "fieldset button") %>
          </div>
          </p>
        <% end %>
        </div>
	
</div>


<div id="lettercontainer">
<p id="notice"><%= notice %></p>
 <% if @recipient_lastname != " Representative" %>
   <%= @recipient_name %><br>
   <%= @recipient_address %><br>
   <%= "Washington DC 20510" %><br>
 <% end %>
 <p> <%= "Dear " + @recipient_lastname + ","%></p>
 <p><%= getparagraph(@emphasis, "emphasis")%></p>
 <p><%= getparagraph(@ideologyKey, "ideology")%></p>
 <% if @geography != "Other" %>
   <p>
     <%= getparagraph(@geography, "geography") %>
   </p>
 <% end %>
 <p><%= "Sincerely," %></p>
 <%= @name %><br />
 <%= @street_address %><br />
 <%= @city + ", " + @state + " " + @zipcode%><br />

 <%-# @address %>
  <h3> These are your selections</h3>
  <%= @emphasis %>
  <%= @political_ideology %>
  <%= @religion %>
  <%= @geography %>

<%= link_to 'Change letter', new_letter_path %>

</div>



 

