
<div id="formcontainer" class="clear" style="height:auto">
<%= image_tag("writegreenlogo.jpg", :size => "300x67") %>
<h3>Your information</h3>
        <div id="letter_options">
        <%= form_tag(:method =>'put', :multipart => true) do %>

        <p>
          <div class="field">
          <%= label_tag(:name, "Name", :class => "label",  :style => "margin-top:0px;")%>
          <%= text_field_tag(:name, @name, :class => "fieldset",  :style => "margin-top:0px;") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:street_address, "Address", :class => "label")%>
          <%= text_field_tag(:street_address, @street_address, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:city, "City", :class => "label")%>
          <%= text_field_tag(:city, @city, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:state, "State", :class => "label")%>
          <%= text_field_tag(:state, @state, :class => "fieldset") %>
          </div>
        </p>

        <p>
          <div class="clear">
          <%= label_tag(:zipcode, "Zipcode", :class => "label")%>
          <%= text_field_tag(:zipcode, @zipcode, :class => "fieldset") %>
          </div>
        </p>
		</div>
<h3> Customize your letter </h3>		
<div id="letter_options" class="clear" >
				
        <p>
          <div class="field">
          <%= label_tag(:recipient, "Recipient", :class => "label",  :style => "margin-top:0px;")%>
          <%= select_tag(:recipient, options_for_select([@sen_senator_title,@jun_senator_title, @rep_title], :selected => @recipient),
                         :class => "fieldset",  :style => "margin-top:0px;") %>
          </div>
        </p>

        <p>
          <div class="field">
          <%= label_tag(:emphasis, "Emphasis", :class => "label")%>
          <%= select_tag(:emphasis, options_for_select([['Health & Pollution', 'FamPollute'],
		      ['Risk/Personal Values', 'RiskValues'],
          ['Health & Economy', 'HealthEcon'],
          ['National Security', 'NationalSec'],
          ['Economic Growth', 'EconGrowth'],          
          ['American Values', 'AmericanVal'],
          ['Common sense', 'CommonSense']], :selected => @emphasis), :class => "fieldset") %>
          </div>
        </p>
          <div class="field">
          <%= label_tag(:ideology, "Perspective", :class => "label") %>
          <%= select_tag(:ideology, options_for_select([['Moderate', 'Moderate'], ['Liberal', 'Liberal'],
          ['Conservative', 'Conservative']], :selected => @political_ideology), :class => "fieldset") %>
          </div>

          <div class="field">
          <%= label_tag(:religion, "Religion", :class => "label") %>
          <%= select_tag(:religion, options_for_select([['Secular', 'Secular'],
          ['Christian', 'Christian']], :selected => @religion), :class => "fieldset") %>
          </div>

          <div class="field">
          <%= label_tag(:geography, "Geography", :class => "label") %>
          <%= select_tag(:geography, options_for_select([['California', 'California'],
          ['Other', 'Other']], :selected => @geography), :class => "fieldset") %>
          </div> 
          <p>
          <div class="actions">
            <%= submit_tag("Create letter", :class => "fieldset button") %>
          </div>
          </p>
        <% end %>
        </div>
	
</div>

 <% if @emphasis == nil %>
	 
  <div id="lettercontainer">
   <div style="padding-top:47px">
   <h3>Please customize your letter</h3>
   <p> You can select the recipient from the list of your two state senators and
    your local congrational 
		representative.</p>
		<p> Your letter will be customized once you select from the customization 
		options on the lower left. </p>
		</div>
		</div>
		<% else %>		
  <textarea id="lettercontainer" >
      <%= letter %>     	
  </textarea>    
    <% end %>





