<!DOCTYPE html>
<html>
<head>
  <title>Writegreen - Empowering Environmental Engagement</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "mipskin" %>
  <%= stylesheet_link_tag    "mipdefault" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.markitup.js" %>
  <%= javascript_include_tag "set.js" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="markitup/jquery.markitup.js"></script>  
  <script type="text/javascript" src="markitup/sets/default/set.js"></script>
 

</head>
<body>

<%= yield %>

</body>
</html>
