<!DOCTYPE html>
<html>
<head>
  <title>Writegreen - Empowering Environmental Engagement</title>
  <script type="text/javascript" src="//use.typekit.net/xfl1dlm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="outside-wrapper"></div>
<!-- Begin Wrapper -->
   <div id="wrapper">
   <!-- Begin Header -->
     <div id="header">
		 	<div id="logo-container">
		 		<div id="logo">
		 			<%= link_to image_tag("logo.png") %>
		 		</div>
		 		<div id="social">
		 			<%= link_to image_tag('facebook_top.png') %>
		 			<%= link_to image_tag('twitter_top.png') %>
		 		</div>
		 	</div>
  	 </div>
		 <!-- End Header -->
		 <div id="top-content">
		 	<h1>WriteGreen makes it easy to write to Congress about climate change.</h1>
		 	<p>
		 		Write letters to Congress that are more influential than the form letters commonly used today. It's like having a personal writing coach, but easier, faster, and free. We help you get started, but the real power is in telling your unique story.
		 	</p>
		 	<p>
		 		What climage change angle are you?
		 	</p>
		 	<div class="letter-button-holder">
		 		<a href="#" class="letter-button letter-button-start">Start your letter</a>
		 	</div>
		 </div>
			<%= yield %>
   </div>
   <!-- End Wrapper -->
   <div class="clear"></div>
		 <div class="clear">
    <%if Rails.env.development? %>
    <%= debug(params) %>
     <h3> These are your selections</h3><br>
		  <%= @emphasis %><br>
		  <%= @political_ideology %><br>
		  <%= @religion %><br>
		  <%= @geography %><br>
    <br> <h3> Content variation </h3>
     <%= "Body content is #{@r}" %><br>
     <%= "Closing content is #{@c}.#{@v}" %><br>
     <%= "We are on step #{@step}." %><br>
    <% end %>
    </div>

</body>
</html>
