<!DOCTYPE html>
<html>
<head>
  <title>Writegreen - Empowering Environmental Engagement</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<!-- Begin Wrapper -->
   <div id="wrapper">
   <!-- Begin Header -->
     <div id="header">		 
		 <%= image_tag("writegreenlogo.jpg", :size => "480x107") %>			   
  	 </div>
		 <!-- End Header -->
<%= yield %>
<!-- Begin Footer -->
		 <% if @step == 1 %>
		 <div id=	"footer">
		       
			   <div class="steps" style="width: 896px;">
			   </div>		

	     </div>
	     
	     <% elsif @step == 2 %>
		 <div id=	"footer">
		       
			   <div class="steps" style="width: 896px;">
			   </div>	
			   
			    
	     </div>     
	          
	   <% else %>
		 
		 <div id=	"footer">
		       
			   
			   <div class="steps selected" style="width: 172px;">
			   <h2 style="text-align:center;"> Edit & Print </h2>
			   </div>		
			   	<div id="final_instruct"> 
      	 <h2>We help you get started, but the real power is in telling your unique story.</h2>       	    	
       	 <h3 style="color: #691F01">Click the text to edit your letter or "update" to get a different version.</h3>

      	</div>
			  
			    
	     </div>
	     
	     <% end %>	     
	     
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
		  <div class="clear">
    <%if Rails.env.development? %>
    <%= debug(params) %>
     <h3> These are your selections</h3><br>
		  <%= @emphasis %><br>
		  <%= @political_ideology %><br>
		  <%= @religion %><br>
		  <%= @geography %><br>
    <br> <h3> Content variation </h3>
     <%= "Body content is #{@r}" %><br>
     <%= "Closing content is #{@c}.#{@v}" %><br>   
     <%= "We are on step #{@step}." %><br>
    <% end %>
    </div>
</body>
</html>
