<!DOCTYPE html>
<html>
<head>
  <title>Writegreen - Empowering Environmental Engagement</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="clear">
<%if Rails.env.development? %>
<%= debug(params) %>
 <h3> These are your selections</h3>
		  <%= @emphasis %>
		  <%= @political_ideology %>
		  <%= @religion %>
		  <%= @geography %>
<% end %>
</div>
</body>
</html>
