<!DOCTYPE html>
<html>
<head>
  <title>Writegreen - Empowering Environmental Engagement</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  function show_alert()
  {
  alert("Letter generated!  You can now freely edit your letter by clicking within the text box.");
  }
</script>
</head>
<body>
<!-- Begin Wrapper -->
   <div id="wrapper">
   <!-- Begin Header -->
     <div id="header">		 
		 <%= image_tag("writegreenlogo.jpg", :size => "480x107") %>			   
  	 </div>
		 <!-- End Header -->
<%= yield %>
<!-- Begin Footer -->
		 <% if @step == 1 %>
		 <div id=	"footer">
		       
			   <div class="steps selected">
			   <h2 style="text-align:center"> 1) Enter Info </h2>
			   </div>		
			   <div class="steps">
			   <h2 style="text-align:center"> 2) Customize Letter </h2>
			   </div>
			   <div class="steps">
			   <h2 style="text-align:center" > 3) Edit & Print </h2>
			   </div>
			   
			    
	     </div>
	     
	     <% elsif @step == 2 %>
		 <div id=	"footer">
		       
			   <div class="steps">
			   <h2 style="text-align:center"> Enter Info </h2>
			   </div>		
			   <div class="steps selected">
			   <h2 style="text-align:center"> Customize Letter </h2>
			   </div>
			   <div class="steps">
			   <h2 style="text-align:center" > Edit & Print </h2>
			   </div>
			   
			    
	     </div>     
	          
	   <% else %>
		 
		 <div id=	"footer">
		       
			   <div class="steps">
			   <h2 style="text-align:center"> Enter Info </h2>
			   </div>		
			   <div class="steps">
			   <h2 style="text-align:center"> Customize Letter </h2>
			   </div>
			   <div class="steps selected">
			   <h2 style="text-align:center" > Edit & Print </h2>
			   </div>
			    
	     </div>
	     
	     <% end %>	     
	     
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
		  <div class="clear">
    <%if Rails.env.development? %>
    <%= debug(params) %>
     <h3> These are your selections</h3><br>
		  <%= @emphasis %><br>
		  <%= @political_ideology %><br>
		  <%= @religion %><br>
		  <%= @geography %><br>
    <br> <h3> Content variation </h3>
     <%= "Body content is #{@r}" %><br>
     <%= "Closing content is #{@c}.#{@v}" %><br>   
     <%= "We are on step #{@step}." %><br>
    <% end %>
    </div>
</body>
</html>
